/* Nav Bar -> text */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* Logo Text */
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* Login Form text */
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quintessential&display=swap');

/* HomePage Text */
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Funnel+Display:wght@300..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quintessential&display=swap');

/* Submitted recipes heading */
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Funnel+Display:wght@300..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quintessential&family=Titan+One&display=swap');

/* Detailed Recipe Page Text */
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Bungee&family=Funnel+Display:wght@300..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quintessential&family=Titan+One&display=swap');